@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #5684c0 0.0%, #4770ac 50.9%);
}

.card_hero {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 55% 100%, 0% 65%);
}

* {
    font-family: 'Poppins', sans-serif;
}
